.fs36{ font-size:36px; }
.fw600{ font-weight:600; }
.fs48{ font-size:48px; }
.bgc{ background: #F5FBFF }
.hbgc{ background:rgba(13, 80, 215, 0.973); }


	a {
		cursor: pointer;
	}


/* button Css */

#e1_158 { 
	position:relative;
	opacity:1;
	width:555px;
	height:59px;
}
#e1_159, .btnShape { 
	background-color:rgba(64.00000378489494, 135.00000715255737, 232.00000137090683, 1);
	opacity:1;
	width:485px;
	height:59px;
	position:absolute;
	left:36px;
	top:0px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
#e1_160 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:555px;
	height:18px;
	position:absolute;
	left:0px;
	top:19px;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}



#e1_63 { 
	box-shadow:0px 4px 8px rgba(0, 0, 0, 0.15000000596046448);
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	/* width:392px;
	height:256px; */
	border-top-left-radius:22px;
	border-top-right-radius:22px;
	border-bottom-left-radius:22px;
	border-bottom-right-radius:22px;
}


#e1_97 { 
	transform: rotate(180deg);
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	background-image:linear-gradient(0deg, rgba(85.00001013278961, 186.99998885393143, 255, 0.9399999976158142) 0%,rgba(12.999999225139618, 78.99999529123306, 215.0000023841858, 0.7900000214576721) 100%) ;
	opacity:1;
	width:1439.9998779296875px;
	height:457.99993896484375px;
}

.audit_btn{
  background-color: #FFFFFF;
  color:rgba(54.00000058114529, 109.00000110268593, 214.00000244379044, 1);
box-shadow: 0px 4px 10px rgba(0, 32, 193, 0.306);
border-radius: 83px;
}

.cta-nav{
	background-color: #FFFFFF;
	color:rgba(54.00000058114529, 109.00000110268593, 214.00000244379044, 1);
}

.risk-bg{
	background: url('./assets/images/risk_bg.svg');
}
.why-us{
	background: url('./assets/images/why_us.svg');
	background-repeat: no-repeat;
	background-position: center; 
}

.seo-bg{
	background: url('./assets/images/seo_image.svg');
	background-repeat: no-repeat;
	background-position: center; 
}
.abm-bg{
	background: url('./assets/images/abm_image.svg');
	background-repeat: no-repeat;
	background-position: center; 
}

.ads-graph-bg{
	background: url('./assets/images/rev.png');
	background-repeat: no-repeat;
	background-position: center; 
}
.success-bg{
	background: url('./assets/images/Group\ 283.png');

}

.header-bg{
	background: url('./assets/images/header.svg') no-repeat center center;
	height: 100vh;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}